<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275968697838-lpsq8r3nhmfb3ueh09fvvj6eim3v17ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275968697838-lpsq8r3nhmfb3ueh09fvvj6eim3v17ao</string>
	<key>API_KEY</key>
	<string>AIzaSyAFBBf5ajY8eofkP5OdrGuW6tJCknyfQzw</string>
	<key>GCM_SENDER_ID</key>
	<string>275968697838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ghazaryan.ss.myshop</string>
	<key>PROJECT_ID</key>
	<string>my-shop-a763e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-shop-a763e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275968697838:ios:294a641f0e4144ef599aff</string>
	<key>DATABASE_URL</key>
	<string>https://my-shop-a763e.firebaseio.com</string>
</dict>
</plist>